<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <title>mysql.ejs</title>
 <link rel="stylesheet" href="/css/style.css" />
 <style>
 </style>
</head>

<body>
 <h1>/mysql/m_tables"</h1>
 <div class="menubar"><a href="/">HOME</a></div>
 <br />
 <table>
 <tr><th>database</th><th>name</th><th>engine</th><th>rows</th><th>created</th></tr>
 <% for (let row of results) { %> 
  <tr>
   <td><%= row["database"] %></td>
   <td><%= row["name"] %></td>
   <td><%= row["engine"] %></td>
   <td><%= row["rows"] %></td>
   <td><%= row["created"] %></td>
  </tr>
 <% } %>
 </table>
 <p>&nbsp;</p>
 <p style="text-align:center;"><a href="#top">TOP</a></p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
 </body>
 </html>
 
